* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/images/kings-college-cambridge-uk-university.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
    /* float: right; */
    color: red;
}



.nav-links {
    /* flex: 2; */
    /* padding-right: 10px; */
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 15px 15px;
    position: relative;

}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* -------------------------------For Red underline in nav bar ----------------------------------*/

.nav-links ul li ::after {
    content: "";
    width: 0%;
    height: 3px;
    background: rgb(204, 77, 4);
    display: block;
    margin: auto;
    transition: 0.4s;
    /* visibility: hidden; */
}

.nav-links ul li :hover::after {
    width: 100%;
}

.text-box {
    width: 100%;
    color: rgb(236, 226, 226);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.text-box h1 {
    font-size: 90px;

}

.text-box p {
    margin: 15px 10px 40px;
    font-size: 15px;
    font-weight: lighter;

}

.btn {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid;
    padding: 12px 20px;
    font-size: 16px;
    background: transparent;

}

.btn:hover {
    border: 1px solid;
    background: rgb(204, 77, 4);
    transition: 0.7s;
}

.Home-icon {
    display: none;
}


/* ---------------------------media querry for h1 and paragraph and  menubar ------------------------------*/


@media(max-width: 780px) {
    .text-box h1 {
        font-size: 25px;
    }

    .nav-links ul li {
        display: none;
        /* visibility: hidden; */
    }

    .Home-icon {
        display: flex;
    }

    .home span {
        display: flex;
        justify-content: space-between;
    }



}

/*------------------------------------- Course world ---------------------------*/

.course {
    width: 100%;
    text-align: center;
    padding: auto;
    margin-top: 100px;
}

h1 {
    font-size: 35px;
    font-weight: 700;
}

.course p {
    color: #777;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    padding: 10px;

}

.row {
    margin-top: 4%;

    display: flex;
    justify-content: space-around;

}

.course-col {
    flex-basis: 30%;
    background: #fff3f3;
    border-radius: 15px;
    margin-bottom: 4%;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 0.3s;
}

h3 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;

}

.course-col:hover {
    box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

/*---------------------------- mediaquerry for course world--------------------- */

@media(max-width:768px) {
    .row {
        flex-direction: column;
        margin-bottom: 4%;
        padding: 20px 10px;


    }
}

/*------------------------------------ campus------------------------------- */
.campus {
    text-align: center;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 50px;
}

.campus-col {
    flex-basis: 30%;

    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;


}

.campus-col img {
    width: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;



}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}

.layer:hover {
    background: rgba(224, 48, 4, 0.4);
}

.layer h3 {
    width: 100%;
    font-weight: 900;
    color: white;
    font-size: 30px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 40%;
    opacity: 1;
}


.facilities {
    width: 100%;
    margin: auto;
    text-align: center;

}

.facilities-col {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;


}

.facilities-col img {
    width: 450px;
    height: 500px;
    border-radius: 10px;

}

.facilities-col p {
    padding-top: 5px;
    text-align: left;
}

.facilities-col h3 {
    margin-top: 15px;
    text-align: left;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    display: flex;
    /* justify-content: center */
    position: relative;
    justify-content: space-around;

}



.footer h3 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 700;
}